[data-theme='Light'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-primary-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-200);
	--color-primary-50: oklch(0% 0 none);
	--color-primary-100: oklch(32.11% 0 none);
	--color-primary-200: oklch(51.03% 0 none);
	--color-primary-300: oklch(68.3% 0 none);
	--color-primary-400: oklch(84.52% 0 none);
	--color-primary-500: oklch(100% 0 none);
	--color-primary-600: oklch(97.61% 0 none);
	--color-primary-700: oklch(95.51% 0 none);
	--color-primary-800: oklch(93.1% 0 none);
	--color-primary-900: oklch(90.97% 0 none);
	--color-primary-950: oklch(88.53% 0 none);
	--color-primary-contrast-dark: var(--color-secondary-50);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-light);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(100% 0 none);
	--color-secondary-100: oklch(97.02% 0 none);
	--color-secondary-200: oklch(94.01% 0 none);
	--color-secondary-300: oklch(90.67% 0 none);
	--color-secondary-400: oklch(87.61% 0 none);
	--color-secondary-500: oklch(84.52% 0 none);
	--color-secondary-600: oklch(77.31% 0 none);
	--color-secondary-700: oklch(69.6% 0 none);
	--color-secondary-800: oklch(62.01% 0 none);
	--color-secondary-900: oklch(53.82% 0 none);
	--color-secondary-950: oklch(45.68% 0 none);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(100% 0 none);
	--color-tertiary-100: oklch(97.02% 0 none);
	--color-tertiary-200: oklch(94.01% 0 none);
	--color-tertiary-300: oklch(90.67% 0 none);
	--color-tertiary-400: oklch(87.61% 0 none);
	--color-tertiary-500: oklch(84.52% 0 none);
	--color-tertiary-600: oklch(77.31% 0 none);
	--color-tertiary-700: oklch(69.6% 0 none);
	--color-tertiary-800: oklch(62.01% 0 none);
	--color-tertiary-900: oklch(53.82% 0 none);
	--color-tertiary-950: oklch(45.68% 0 none);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(100% 0 none);
	--color-success-100: oklch(97.02% 0 none);
	--color-success-200: oklch(94.01% 0 none);
	--color-success-300: oklch(90.67% 0 none);
	--color-success-400: oklch(87.61% 0 none);
	--color-success-500: oklch(84.52% 0 none);
	--color-success-600: oklch(77.31% 0 none);
	--color-success-700: oklch(69.6% 0 none);
	--color-success-800: oklch(62.01% 0 none);
	--color-success-900: oklch(53.82% 0 none);
	--color-success-950: oklch(45.68% 0 none);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-dark);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(100% 0 none);
	--color-warning-100: oklch(97.02% 0 none);
	--color-warning-200: oklch(94.01% 0 none);
	--color-warning-300: oklch(90.67% 0 none);
	--color-warning-400: oklch(87.61% 0 none);
	--color-warning-500: oklch(84.52% 0 none);
	--color-warning-600: oklch(77.31% 0 none);
	--color-warning-700: oklch(69.6% 0 none);
	--color-warning-800: oklch(62.01% 0 none);
	--color-warning-900: oklch(53.82% 0 none);
	--color-warning-950: oklch(45.68% 0 none);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(100% 0 none);
	--color-error-100: oklch(97.02% 0 none);
	--color-error-200: oklch(94.01% 0 none);
	--color-error-300: oklch(90.67% 0 none);
	--color-error-400: oklch(87.61% 0 none);
	--color-error-500: oklch(84.52% 0 none);
	--color-error-600: oklch(77.31% 0 none);
	--color-error-700: oklch(69.6% 0 none);
	--color-error-800: oklch(62.01% 0 none);
	--color-error-900: oklch(53.82% 0 none);
	--color-error-950: oklch(45.68% 0 none);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-dark);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(97.02% 0 none);
	--color-surface-200: oklch(94.01% 0 none);
	--color-surface-300: oklch(90.67% 0 none);
	--color-surface-400: oklch(87.61% 0 none);
	--color-surface-500: oklch(84.52% 0 none);
	--color-surface-600: oklch(77.31% 0 none);
	--color-surface-700: oklch(69.6% 0 none);
	--color-surface-800: oklch(62.01% 0 none);
	--color-surface-900: oklch(53.82% 0 none);
	--color-surface-950: oklch(45.68% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-dark);
	--color-surface-contrast-800: var(--color-surface-contrast-dark);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
